Asumsikan kamu merupakan Data Scientist departemen sumber daya manusia atau Human Resource Department (HRD) dari perusahaan yang bergerak di bidang marketplace bernama TokoLapak. Perusahaan ini memiliki karyawan yang tersebar di Jabodetabek (Jakarta, Kota Bogor, Kabupaten Bogor, Kota Depok, Kota Tangerang, Kota Tangerang Selatan, Kabupaten Tangerang, Kota Bekasi, dan Kabupaten Bekasi), dan setiap karyawan diwajibkan menginstall aplikasi TokoLapak, sehingga kamu memiliki sampel data dimana karyawan berada setiap harinya.

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
catlok = pd.read_csv("./dataset/catatan_lokasi.csv")
catlok

       id   tanggal          lokasi_dominan
0       1  21/05/19           Jakarta Pusat
1       2  21/05/19         Kabupaten Bogor
2       3  21/05/19           Jakarta Pusat
3       4  21/05/19          Kota Tangerang
4       5  21/05/19              Kota Bogor
...   ...       ...                     ...
2595   96  15/06/19              Kota Bogor
2596   97  15/06/19  Kota Tangerang Selatan
2597   98  15/06/19           Jakarta Timur
2598   99  15/06/19           Jakarta Timur
2599  100  15/06/19           Jakarta Timur

[2600 rows x 3 columns]

In [3]:
profil = pd.read_csv("./dataset/data_profil.csv", index_col=0)
profil

    jenis_kelamin                 divisi  umur
id
1       Laki-laki       Customer Service    34
2       Laki-laki          Data Engineer    26
3       Laki-laki      Software Engineer    28
4       Perempuan  Business Intelligence    21
5       Perempuan      Software Engineer    21
..            ...                    ...   ...
96      Perempuan       Customer Service    23
97      Laki-laki      Software Engineer    32
98      Perempuan  Business Intelligence    28
99      Perempuan      Software Engineer    25
100     Perempuan      Software Engineer    29

[100 rows x 3 columns]

# 1. Dengan keadaan di mana salah satu divisi penting dari perusahaan Tokolapak ini karyawannya mudik semua, apakah jual beli toko online ini akan tetap berjalan?

In [16]:
divisi = profil.divisi.unique()
kel_divisi = {}
for div in divisi:
    kel_divisi[div] = set(profil[profil['divisi'] == div].index.to_list())
#     print(profil[profil['divisi'] == div].index.to_list())

In [22]:
jabodetabek = ["jakarta", "bogor", "depok", "tangerang", "bekasi"]
catlok["mudik"] = 1
for i in catlok.index:
    lokasi = catlok.iloc[i].lokasi_dominan
    #print(lokasi)
    lokasi_perkata = lokasi.lower().split()
    #print(lokasi_perkata)
    for lk in lokasi_perkata:
        if lk in jabodetabek:
            #print(lk)
            catlok["mudik"].iloc[i] = 0
            break

In [25]:
tanggal_mudik = catlok.tanggal.unique()
#print(tanggal_mudik)
for tm in tanggal_mudik:
    print(f"\nTanggal {tm}")
    for div in kel_divisi:
        if kel_divisi[div].intersection(set(catlok[(catlok["mudik"]==1) & (catlok["tanggal"]==tm)].id.to_list())):
            print(f"divisi {div} mudik semua")
            continue

Tanggal 21/05/19

Tanggal 22/05/19

Tanggal 23/05/19
divisi Customer Service mudik semua
divisi Software Engineer mudik semua
divisi Business Intelligence mudik semua

Tanggal 24/05/19
divisi Customer Service mudik semua
divisi Data Science mudik semua

Tanggal 25/05/19
divisi Business Intelligence mudik semua
divisi Data Science mudik semua

Tanggal 26/05/19
divisi Customer Service mudik semua
divisi Software Engineer mudik semua
divisi Data Science mudik semua

Tanggal 27/05/19
divisi Customer Service mudik semua
divisi Data Engineer mudik semua
divisi Software Engineer mudik semua
divisi Data Science mudik semua

Tanggal 28/05/19
divisi Customer Service mudik semua
divisi Data Engineer mudik semua
divisi Software Engineer mudik semua
divisi Business Intelligence mudik semua
divisi Data Science mudik semua
divisi Marketing mudik semua

Tanggal 29/05/19
divisi Customer Service mudik semua
divisi Data Engineer mudik semua
divisi Software Engineer mudik semua
divisi Business Intelligence mudik semua
divisi Data Science mudik semua
divisi Marketing mudik semua

Tanggal 30/05/19
divisi Customer Service mudik semua
divisi Data Engineer mudik semua
divisi Software Engineer mudik semua
divisi Business Intelligence mudik semua
divisi Data Science mudik semua
divisi Marketing mudik semua

Tanggal 31/05/19
divisi Customer Service mudik semua
divisi Data Engineer mudik semua
divisi Software Engineer mudik semua
divisi Business Intelligence mudik semua
divisi Data Science mudik semua
divisi Marketing mudik semua

Tanggal 01/06/19
divisi Customer Service mudik semua
divisi Data Engineer mudik semua
divisi Software Engineer mudik semua
divisi Business Intelligence mudik semua
divisi Data Science mudik semua
divisi Marketing mudik semua

Tanggal 02/06/19
divisi Customer Service mudik semua
divisi Data Engineer mudik semua
divisi Software Engineer mudik semua
divisi Business Intelligence mudik semua
divisi Data Science mudik semua
divisi Marketing mudik semua

Tanggal 03/06/19
divisi Customer Service mudik semua
divisi Data Engineer mudik semua
divisi Software Engineer mudik semua
divisi Business Intelligence mudik semua
divisi Data Science mudik semua
divisi Marketing mudik semua

Tanggal 04/06/19
divisi Customer Service mudik semua
divisi Data Engineer mudik semua
divisi Software Engineer mudik semua
divisi Business Intelligence mudik semua
divisi Data Science mudik semua
divisi Marketing mudik semua

Tanggal 05/06/19
divisi Customer Service mudik semua
divisi Data Engineer mudik semua
divisi Software Engineer mudik semua
divisi Business Intelligence mudik semua
divisi Data Science mudik semua
divisi Marketing mudik semua

Tanggal 06/06/19
divisi Customer Service mudik semua
divisi Data Engineer mudik semua
divisi Software Engineer mudik semua
divisi Business Intelligence mudik semua
divisi Data Science mudik semua
divisi Marketing mudik semua

Tanggal 07/06/19
divisi Customer Service mudik semua
divisi Data Engineer mudik semua
divisi Software Engineer mudik semua
divisi Business Intelligence mudik semua
divisi Data Science mudik semua
divisi Marketing mudik semua

Tanggal 08/06/19
divisi Customer Service mudik semua
divisi Data Engineer mudik semua
divisi Software Engineer mudik semua
divisi Business Intelligence mudik semua
divisi Data Science mudik semua
divisi Marketing mudik semua

Tanggal 09/06/19
divisi Customer Service mudik semua
divisi Data Engineer mudik semua
divisi Software Engineer mudik semua
divisi Business Intelligence mudik semua
divisi Data Science mudik semua
divisi Marketing mudik semua

Tanggal 10/06/19
divisi Customer Service mudik semua
divisi Data Engineer mudik semua
divisi Software Engineer mudik semua
divisi Business Intelligence mudik semua
divisi Data Science mudik semua
divisi Marketing mudik semua

Tanggal 11/06/19
divisi Business Intelligence mudik semua
divisi Data Science mudik semua

Tanggal 12/06/19
divisi Customer Service mudik semua
divisi Data Science mudik semua

Tanggal 13/06/19
divisi Customer Service mudik semua
divisi Software Engineer mudik semua
divisi Business Intelligence mudik semua

Tanggal 14/06/19

Tanggal 15/06/19

# 2. Berapakah umur termuda dari karyawan yang tergabung dalam divisi Data Science?

In [27]:
profil_ds = profil[profil['divisi']=='Data Science']
# print(profil_ds)
umur_ds = profil_ds.umur
print(f"karyawan termuda di divisi Data Science berumur {umur_ds.min()} tahun")

karyawan termuda di divisi Data Science berumur 21 tahun

# 3. Berapa jumlah karyawan yang kemungkinan besar menyempatkan untuk berwisata ke Keraton Yogyakarta, Pantai Parangtritis, atau wisata Kaliurang selama masa mudiknya? (Asumsi karyawan yang mudik ke DIY saja yang kemungkinan besar berwisata ke tempat-tempat tersebut.)

In [30]:
mudik_jogja = []
for i in catlok.index:
    lokasi = catlok.iloc[i]["lokasi_dominan"]
    #print(lokasi)
    lokasi_perkata = lokasi.lower().split()
    for lk in lokasi_perkata:
        if lk in["yogyakarta", 'jogjakarta']:
            mudik_jogja.append(catlok.iloc[i]["id"])
            break
print(f"{len(set(mudik_jogja))} orang berkemungkinan wisata ke Keraton Yogyakarta, Pantai Parangtritis, atau wisata Kaliurang")

14 orang berkemungkinan wisata ke Keraton Yogyakarta, Pantai Parangtritis, atau wisata Kaliurang

# 4. Karyawan dengan id berapakah yang memiliki kesempatan besar untuk menikmati wisata Pantai Karang Bolong Kebumen?

In [31]:
mudik_kebumen = []
for i in catlok.index:
    lokasi = catlok.iloc[i]["lokasi_dominan"]
    #print(lokasi)
    lokasi_perkata = lokasi.lower().split()
    for lk in lokasi_perkata:
        if lk =="kebumen":
            mudik_kebumen.append(catlok.iloc[i]["id"])
            break
print(f"{len(set(mudik_kebumen))} orang berkemungkinan wisata ke Pantai Karang Bolong Kebumen")

2 orang berkemungkinan wisata ke Pantai Karang Bolong Kebumen

# 5. Berapa jumlah karyawan yang melakukan mudik pada tanggal 30 Mei 2019?

In [32]:
jumlah_mudik_30mei = len(catlok[(catlok["mudik"]==1) & (catlok["tanggal"]=="30/05/19")])
print(f"{jumlah_mudik_30mei} karyawan mudik pada tanggal 30 mei 2019")

34 karyawan mudik pada tanggal 30 mei 2019

# 6. Divisi apa yang karyawannya paling banyak melakukan mudik?

In [38]:
tanggal_mudik = catlok.tanggal.unique()
#print(tanggal_mudik)
skor_mudik = {}
for tm in tanggal_mudik:
    for div in kel_divisi:
        #print(kel_divisi)
        if kel_divisi[div].intersection(set(catlok[(catlok["mudik"]==1) & (catlok["tanggal"]==tm)].id.to_list())):
            try:
                skor_mudik[div] += 1
            except:
                skor_mudik[div] = 0
            continue
            
df_skor_mudik = pd.DataFrame(list(skor_mudik.items()),columns = ['divisi','skor'])
#print(df_skor_mudik)
df_skor_mudik.sort_values("skor",ascending=False)

                  divisi  skor
0       Customer Service    19
3           Data Science    19
1      Software Engineer    17
2  Business Intelligence    17
4          Data Engineer    14
5              Marketing    13

# 7. Berapakah median umur dari keseluruhan karyawan Tokolapak?

In [39]:
print(f"median umur karyawan tokolapak adalah {profil.umur.median()}")

median umur karyawan tokolapak adalah 27.0

# 8. Tanggal berapakah menjadi hari favorit karyawan Tokolapak pulang ke Jabodetabek?

In [46]:
jumlah_pemudik = catlok.groupby("tanggal").sum()["mudik"]
# print(catlok.groupby("tanggal").sum()["mudik"])
pemudik_sblm = 0
pemudik_pulang = {}
for tgl in jumlah_pemudik.index:
        pemudik_pulang[tgl] = pemudik_sblm-jumlah_pemudik[tgl]
        pemudik_sblm = jumlah_pemudik[tgl]
df_pemudik_pulang = pd.DataFrame(list(pemudik_pulang.items()), columns=["tanggal", "selisih pemudik dengan hari kemarin"])
df_pemudik_pulang.sort_values("selisih pemudik dengan hari kemarin",ascending=False).head(1)

    tanggal  selisih pemudik dengan hari kemarin
8  09/06/19                                   49

# 9. Berapa jumlah karyawan yang mudik dan tergabung dalam Divisi Data Science?

In [48]:
df_mudik_ds = catlok[(catlok["mudik"]==1) & (catlok["id"].isin(kel_divisi['Data Science']))]
# print(df_mudik_ds)
id_mudik_ds = set(df_mudik_ds.id.unique())

if id_mudik_ds==kel_divisi["Data Science"]:
    print("Semua karyawan data scoence mudik")
else:
    print(f"{len(id_mudik_ds)} karyawan data science mudik")

Semua karyawan data scoence mudik

# 10. Berapakah umur karyawan yang paling senior dari dari karyawan yang tergabung dalam divisi Data Engineer?

In [50]:
df_ds = profil[profil["divisi"]=="Data Science"]
# print(df_ds)
df_ds.sort_values("umur",ascending=False).head(1)

   jenis_kelamin        divisi  umur
id
50     Laki-laki  Data Science    35

# 11. Berapa jumlah karyawan TokoLapak?

In [51]:
jumlah = len(profil.index.unique())
print(f"karyawan tokolapak berjumlah {jumlah} orang")

karyawan tokolapak berjumlah 100 orang

# 12. Karyawan dengan id berapakah yang mudiknya paling lama (perkiraan 20 hari mudik)?

In [56]:
long_streak = {}
streak = {}
for tm in tanggal_mudik:
    id_mudik = set(catlok[(catlok["tanggal"]==tm) & (catlok["mudik"]==1)].id)
    for s in list(streak.keys()):
        #print(streak.keys())
        if s not in id_mudik:
            if (s not in list(long_streak.keys())) or (streak[s]>long_streak[s]):
                long_streak[s] = streak[s]
                del streak[s]
    for i in id_mudik:
        if i in streak:
            streak[i] += 1
        else:
            streak[i] = 1
df_long_streak = pd.DataFrame(list(long_streak.items()), columns=["id","lama mudik"])
df_long_streak.sort_values("lama mudik",ascending=False).head(1)

    id  lama mudik
92  10          20

# 13. Kabupaten/Kota manakah yang menjadi tujuan mudik terbanyak?

In [58]:
count_kota = {}
for i in profil.index:
    kota_mudik = catlok[(catlok["id"]==i) & (catlok["mudik"]==1)]["lokasi_dominan"].unique()
    #print(kota_mudik)
    for i in kota_mudik:
        try:
            count_kota[i] += 1
        except:
            count_kota[i] = 1
df_count_kota = pd.DataFrame(list(count_kota.items()), columns=["kot/kab","jumlah pemudik"])
df_count_kota.sort_values("jumlah pemudik",ascending=False).head()

            kota/kab  jumlah pemudik
8   Kabupaten Sleman              15
6    Kota Yogyakarta              14
0         Kota Medan              12
10  Kabupaten Bantul               9
1        Kota Padang               8