In [2]:
1 + 1 # shift + enter = enter new line alt + enter = insert new line

2

## Large Fonts = use '##'

* bullet points = use '*'

    noted = not used any task

In [3]:
import pandas

In [4]:
pandas.__version__

'1.3.4'

## Python List

In [5]:
x = [1,2,3,4,5]

In [6]:
# cara I

out = []

for num in x:
    out.append(num **2)
out

[1, 4, 9, 16, 25]

In [7]:
# cara II
[num **2 for num in x]

[1, 4, 9, 16, 25]

## Python Function

In [8]:
def my_function():
    print("Hello")

In [9]:
my_function()

Hello

In [10]:
def name_function(name, x):
    print(f"Hello {name} {x}")

In [11]:
name_function("budi", 13)

Hello budi 13

In [12]:
def square(x):
    return x**2

In [13]:
result = square(5)
result

25

In [14]:
# perbedaan retrun dan print :
# print mengeluarkan actual value
# return value tsb dpt disimpan kedalam variable

In [15]:
#built in function
str = "Hello my name is jony"
#lower
str.lower()

'hello my name is jony'

In [16]:
#upper
str.upper()

'HELLO MY NAME IS JONY'

In [17]:
#split
str.split() # merubah string array ['hello', 'my', dst...]

['Hello', 'my', 'name', 'is', 'jony']

In [18]:
tweet = "hello #sport"
tweet.split("#")[1]#sport

'sport'

In [19]:
#dictionary
d = {'k1' : 'v1', 'k2':'v2'}
d.keys()

dict_keys(['k1', 'k2'])

In [20]:
d.items()

dict_items([('k1', 'v1'), ('k2', 'v2')])

In [21]:
# list pop atau mengeluarkan elemen tertentu dari lis
myList = [1,2,3,4]
last = myList.pop()
last

4

In [22]:
first = myList.pop(1)
first

2

In [23]:
# in function to check element on list
1 in myList

True